.chat-layout {
    display: flex;
    height: 100vh;
    background: #f4f5f7;
  }
  
  .sidebar {
    width: 300px;
    background: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .mentor-item {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    background: #34495e;
    transition: 0.3s;
  }
  
  .mentor-item.active {
    background: #1abc9c;
  }
  
  .mentor-avatar {
    background: white;
    color: #2c3e50;
    font-weight: bold;
    border-radius: 50%;
    padding: 12px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 10px;
  }
  
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
  }
  
  .chat-header {
    display: flex;
    align-items: center;
    background: #021d2f;
    color: white;
    padding: 15px;
    font-size: 18px;
  }
  
  .chat-back-button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
    width: 40px;
    margin-right: 20px;
  }
  
  .chat-messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .chat-bubble {
    padding: 12px;
    border-radius: 15px;
    margin-bottom: 10px;
    max-width: 75%;
  }
  
  .chat-bubble.student {
    background: #ba92fa;
    color: white;
    align-self: flex-end;
  }
  
  .chat-bubble.mentor {
    background: #ecf0f1;
    color: black;
  }
  
  .chat-input {
    padding: 15px;
    background: #f4f5f7
  }  